[Desktop Entry]
Type=Application
Name=Softmark
GenericName=Markdown Viewer
Comment=Fast viewer-first Markdown reader
Exec=Softmark %f
TryExec=Softmark
Icon=softmark
Terminal=false
StartupNotify=true
StartupWMClass=Softmark
Categories=Office;Utility;Viewer;
Keywords=markdown;viewer;reader;editor;
MimeType=text/markdown;
X-AppImage-Name=Softmark
X-AppImage-Version=@VERSION@
X-AppImage-Arch=@ARCH@
